@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: Merriweather, "Times New Roman", Times, serif;
  --background-color: rgba(51, 90, 138, 0.2);
  --celsius-color: orangered;
  --fahrenheit-color: lightgreen;
  --unengaged-color: gray;
}

body {
  background-color: black;
  height: 100vh;
  /* background-repeat: round; */
  background-size: cover;
}

.top-container {
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  font-weight: bold;
  /* border-bottom: 3px darkgray solid; */
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  & h4 {
    margin-top: 10px;
    font-size: 2rem;
  }

  & span {
    margin-top: -5px;
    font-size: 1.4rem;
  }
}

.country-city {
  margin-top: 20px;
  font-size: 3rem;
}

.btm-container {
  background-color: var(--background-color);
  color: white;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;

  & .search-bar {
    position: relative;
    width: 100%;
  }

  & .search-bar > input {
    appearance: none;
    outline: none;
    border: none;
    width: 95%;
    padding: 3px 30px 3px 5px;
    background-color: #0a121caa;
    color: white;

    border-radius: 8px;
    border: 2px solid lightblue;
  }

  .search-button {
    position: absolute;
    right: 25px;
    top: 3px;
    height: 20px;
    width: auto;
    filter: invert(71%) sepia(2%) saturate(0%) hue-rotate(65deg) brightness(96%)
      contrast(87%);
    cursor: pointer;
  }

  /* & input::placeholder {
    color: ;
  } */

  & button {
    padding: 3px 10px;
    font-weight: bold;
  }
}

.temp-toggle {
  display: flex;
  justify-content: space-between;
  width: 280px;
  gap: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--unengaged-color);
  background-color: #0a121caa;
  padding: 15px;
  border-radius: 20px;

  & input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  & .slider {
    height: 1lh;
    width: 80px;
    border-radius: 10px;
    background-color: var(--celsius-color);
    cursor: pointer;
    position: relative;
  }

  & .slider::before {
    background-color: black;
    content: "";
    position: absolute;
    height: 0.8lh;
    width: 0.8lh;
    left: 4px;
    top: 0.1lh;
    border-radius: 50%;
  }

  & input:checked + .slider {
    background-color: var(--fahrenheit-color);
  }

  & span:has(+ input:not(:checked)) {
    color: var(--celsius-color);
  }

  & input:checked + .slider + span {
    color: var(--fahrenheit-color);
  }

  & input:checked + .slider::before {
    transform: translateX(51px);
  }
}
